.FooterBanner {
  background-color: rgba(0, 47, 52, 0.03);
  padding: 0.5% 0%;
}
.FooterBanner h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bolder;
  text-align: left;
}
.FooterBanner p {
  text-align: left;
  font-size: 130%;
}

.FooterBanner img {
  width: 50%;
  height: 190px;
}
.imgClass {
  text-align: center;
}
