.Footer {
  background-color: #f1f1f1;
}
.Footer h6 {
  text-transform: uppercase;
  color: black;
  margin: 5% 0%;
  font-size: 14px;
  line-height: 20px;
}

.Footer p {
  line-height: 0.5;
}
.Footer p a {
  font-weight: 400px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: rgba(0, 47, 52, 0.64);
  /* line-height: ; */
}
.Footer p a:hover {
  color: #002f34;
}
.smallFooter {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  background: #002f34;
  direction: ltr;
  text-align: left;
  text-size-adjust: 100%;
  padding: 1.5%;
}
